.contact {
    @include container;
    margin-top: 6.4rem;
    margin-bottom: 6.4rem;
    h3{
        text-align: center;
    }

    p {
        font-size: 1em;
        margin-top: 10px;
    }

    a {
        font-size: 1em;
        color: #6565c3;
    }
}

form {
    display: flex;
    flex-direction: column;
    
    @supports (display: grid) {
        @include mq-m {
          display: grid;
    
          grid-template-columns: 50% 50%; 
    
          grid-column-gap: 1em;
          grid-template-areas:
            "name     email"
            "message  message"
            "sendmail button";
            
            .name {
              grid-area: name;
              
            }
    
            .email {
              grid-area: email;
            }
    
            .message {
              grid-area: message;
              textarea {
                height: 10em;
              }
            }

            .sendmail {
                grid-area: sendmail;
              }
    
            .button {
              grid-area: button;
            }

            @include mq-s {
                .sendmail {
                    font-size: 1.2rem;
                }
            }
        }
      }
    }

label {
    display: block;
    margin-top: 1em;
    color: #606060;
    font-size: 1.2rem;
    
}

input, 
textarea {
    box-sizing: border-box;
    display: block;
    padding: .75em;
    width: 100%;
    background: lighten(#fbfbfc, 7%);
    border: 1px solid #414141;
    border-radius: 10px;
    font-size: 1.2rem;
}

.button {
    align-self:center;
    background:transparent;
    padding:1rem 1rem;
    margin: 20px 0;
    transition:all .5s ease;
    color:#41403E;
    font-size:1.2rem;
    letter-spacing:1px;
    outline:none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    width: 180px;
    border: 1px solid #41403E;
    cursor: pointer;
}

.button:hover {
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}


.contact h3 {
    text-align: center;
    font-size: 2.8rem;
    text-transform: uppercase;
    padding-bottom: 18px;
    font-weight: bold;
}

.sendmail {
    font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
    form {
        display: unset;
    }
}