html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  ::selection {
    background: #6565c3; 
  }
  ::-moz-selection {
    background: #6565c3;
  }

  body {
    background-color: #fdfdfd;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul, a {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: 'Montserrat';
    line-height: 1.5;
    letter-spacing: .008em;
    color: #222;
  
    &.in-transition {
      transition: transform 500ms ease;
    }
  }

  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

