.work {
    h2 {
        font-size: 1.2em;
        margin-bottom: 20px;
    }
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em,1fr));
    grid-template-rows: auto;
    grid-gap: 40px;

    img {
        object-fit: cover;
        height: 400px;
        width: 100%;
    }
}

